<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>公众号用户注册</title>
</head>
<style>
    .one-title{
        font: 35px/1.5 Arial, Helvetica,sans-serif;
        font-weight: bold;
    }
</style>
<div th:include="include :: header"></div>
<body>
<p class="one-title">用户已经注册</p>
</body>

<div th:include="include :: footer"></div>

<script th:inline="javascript">
    var openId = [[${result.openid}]];
    $(function () {
        util.ticket("jsapi");
        wx.ready(function () {   //需在用户可能点击分享按钮前就先调用
            /*wx.updateAppMessageShareData({
                title: '分享注册', // 分享标题
                desc: '分享授权页', // 分享描述
                link: "https://www.cnovotech.com/moreway/v1?shareOpenId="+openid,
                imgUrl: '', // 分享图标
                success: function () {
                    alert("点击了朋友")
                }
            });*/
            wx.onMenuShareAppMessage({
                title: '分享注册', // 分享标题
                desc: '分享授权页', // 分享描述
                link: "https://www.cnovotech.com/moreway/v1?shareOpenId="+openId, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://pic39.nipic.com/20140321/18063302_210604412116_2.jpg', // 分享图标
                type: 'link', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function (res) {
                    alert("点击了朋友")
                }
            });
            wx.onMenuShareTimeline({
                title: '分享注册', // 分享标题
                link: "https://www.cnovotech.com/moreway/v1?shareOpenId="+openId, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: 'http://pic39.nipic.com/20140321/18063302_210604412116_2.jpg', // 分享图标
                success: function () {
                    alert("点击了朋友圈")
                }
            });
            wx.onMenuShareQQ({
                title: '', // 分享标题
                desc: '', // 分享描述
                link: "https://www.cnovotech.com/moreway/v1?shareOpenId="+openId, // 分享链接
                imgUrl: '', // 分享图标
                success: function () {
                    alert("点击了qq")
                },
                cancel: function () {

                }
            });
        });
    });
</script>
</html>