<head th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/js/plugin/layui/css/layui.css">
</head>
<div th:fragment="footer">
	<script th:inline="javascript"> var ctx = [[@{/}]]; </script>
	<script src="/js/plugin/jquery-2.2.4.min.js"></script>
	<script src="/js/plugin/layui/src/layui.js"></script>
	<script src="/js/plugin/template-web.js"></script>
	<script src="https://cdn.bootcss.com/js-sha1/0.6.0/sha1.js"></script>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<script src="/js/util.js"></script>
</div>
